* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.header-menu {
  width: 100vw;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.nav {
  background-color: #f5f5f7;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: fixed;
}
.banner {
  width: 100vw;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-1 {
  background-image: url(img/Figure.png);
}
#background-2 {
  background-image: url(img/back-2.png);
}
#background-3 {
  background-image: url(img/back-3.png);
}

/* background-1 */
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.background {
  width: 100vw;
  height: 692px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
}

.title-1 {
  height: 407px;
  height: 172px;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 55px;
}
.title-1 h2 {
  font-size: 52px;
  font-family: inter;
  color: #f5f5f7;
}
.title-1 p {
  font-size: 24px;
  font-family: Inter;
  color: #f5f5f7;
}

.buttons {
  width: 207px;
  height: 44px;
}

.button-pri {
  background-color: #0071e3;
  border-radius: 999px;
  width: 123px;
  height: 44px;
  border: none;
  color: #ffffff;
}

.button-sec {
  background-color: transparent;
  border-radius: 999px;
  width: 68px;
  height: 44px;
  border: 1px solid #2997ff;
  color: #2997ff;
}

/* background-2 */

.button-pri-2 {
  background-color: #ffffff;
  border-radius: 999px;
  width: 123px;
  height: 44px;
  border: none;
  color: #000000;
}

.button-sec-2 {
  background-color: transparent;
  border-radius: 999px;
  width: 68px;
  height: 44px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* background-3 */

.background3 {
  width: 100vw;
  height: 692px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-position: center;
}

.title-3 {
  height: 407px;
  height: 172px;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 82px;
}
.title-3 h2 {
  font-size: 52px;
  font-family: inter;
  color: #000000;
}
.title-3 p {
  font-size: 24px;
  font-family: Inter;
  color: #000000;
}

.buttons {
  width: 207px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-pri-3 {
  background-color: #0071e3;
  border-radius: 999px;
  width: 114px;
  height: 44px;
  border: none;
  color: #ffffff;
}

/* Porduct heseg */
#porduct-background-1 {
  background-image: url(img/porduct-back1.png);
}
#porduct-background-2 {
  background-image: url(img/porduct-back2.png);
}
#porduct-background-3 {
  background-image: url(img/porduct-back3.png);
}
#porduct-background-4 {
  background-image: url(img/porduct-back4.png);
}
#porduct-background-5 {
  background-image: url(img/porduct-back5.png);
}
#porduct-background-6 {
  background-image: url(img/porduct-back6.png);
}

.porduct-container {
  width: 100vw;
  height: 1764px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  background-position: center;
  margin-top: 12px;
}

.porduct {
  width: calc(50% - 12px);
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-position: center;
}
.porduct-title {
  width: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 58px;
}
.porduct-title img {
  width: 433px;
  height: 33px;
}
.bottom-text p {
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  margin-bottom: 53px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.porduct-sub {
  font-size: 18px;
  font-family: inter;
  font-style: regular;
  text-align: center;
}

.apple-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.apple-icon h2 {
  font-size: 32px;
  font-family: inter;
  font-style: bold;
}
.porduct-title h3 {
  font-size: 15px;
  font-family: inter;
  font-style: bold;
}

.apple-icon img {
  width: 26px;
  height: 32px;
  margin-top: -5px;
}

.porduct-bottom {
  width: calc(50% - 12px);
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-position: center;
}
.porduct-title-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 58px;
}

.porduct-title-bottom h2 {
  color: #ffffff;
  font-size: 36px;
  font-family: inter;
  font-style: regular;
}
.porduct-title-bottom p {
  color: #ffffff;
  font-size: 18px;
  font-family: inter;
  font-style: regular;
}
.porduct-title h2 {
  color: #000000;
  font-size: 36px;
  font-family: inter;
  font-style: regular;
  text-align: center;
}

/* media heseg */

.media-container {
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  gap: 12px;
}

#media-1 {
  background-image: url(./img/napoleon.jpg);
}
#media-2 {
  background-image: url(./img/bad-monkey.jpg);
}

#media-3 {
  background-image: url(./img/instigators.jpg);
}

#media-4 {
  background-image: url(./img/k-pop-idols.jpg);
}
#media-5 {
  background-image: url(./img/season-pass.jpg);
}
#media-6 {
  background-image: url(./img/pressumed-innocent.jpg);
}
#media-7 {
  background-image: url(./img/pachinko.jpg);
}
#media-8 {
  background-image: url(./img/baseball.jpg);
}
#media-9 {
  background-image: url(./img/lady-in-the-lake.jpg);
}
#media-10 {
  background-image: url(./img/morning-show.jpg);
}

.scroll-item {
  position: relative;
  min-width: 1250px;
  height: 668px;
  background-size: cover;
  margin-top: 12px;
}
.info {
  gap: 12px;
  display: flex;
  align-items: center;
  left: 47px;
  bottom: 38px;
  position: absolute;
  font-size: 20px;
}

.info button {
  width: 133px;
  height: 44px;
  border-radius: 999px;
  color: #000000;
  border: none;
  font-size: 20px;
}
.info h2 {
  font-size: 20px;
  font-family: inter;
  font-style: bold;
  color: white;
}

.info p {
  font-size: 20px;
  font-family: inter;
  font-style: regular;
  color: white;
}
.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 14px;
}

.dot-1 {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0000006b;
}

/* suuliiin heseg */

#item-1 {
  background-color: rgb(4, 87, 112);
}
#item-2 {
  background-color: #eae6e1;
}
#item-3 {
  background-image: url(img/3.jpg);
}
#item-4 {
  background-image: url(img/4.jpg);
}
#item-5 {
  background-image: url(img/5.jpg);
}
#item-6 {
  background-image: url(img/6.jpg);
}
#item-7 {
  background-image: url(img/7.jpg);
}
#item-8 {
  background-image: url(img/8.jpg);
}
#item-9 {
  background-image: url(img/9.jpg);
}
#item-10 {
  background-image: url(img/10.jpg);
}

.slider-container {
  width: 100vw;
  overflow: hidden;
}

.slider {
  display: flex;
  align-items: center;
  gap: 12px;
  /* animation-name: slider;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s; */
}

.slider-item {
  min-width: 417px;
  height: 236px;
  background-size: contain;
  position: relative;
  display: flex;
  column-gap: 15px;
  font-weight: bold;
  align-items: center;
  color: var(--color);
}

@keyframes slider {
  from {
    transform: translate(100vw);
  }
  to {
    transform: translate(-4170px);
  }
}
.slider-image-small {
  background-image: url(./img/1.jpg);
  background-size: contain;
  width: 196px;
  height: 196px;
  overflow: hidden;
  margin-left: 15px;
  border-radius: 8px;
}

.slider-button button {
  width: 100px;
  height: 30px;
  border-radius: 999px;
  border: none;
  background-color: white;
  position: absolute;
  right: 165px;
  bottom: 100px;
  /* display: none; */
  opacity: 0;
}
.slider:hover .slider-item {
  filter: brightness(50%);
}

.slider-item:hover button {
  opacity: 1;
  filter: brightness(100%);
}
